/* 1. Dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html { scroll-behavior: smooth; }

body {
  background: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2. Pembungkus */
.wrapped {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* 3. Kontainer */
.container {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(255 , 255, 255, 0.15);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  gap: 10px;
  animation: showItem 1s ease;
}

.container-text {
  font-size: 1.25rem;
  font-weight: bold;
  color: #222;
  text-align: center;
}

.hero-avatar-container { display: flex; justify-content: center; align-items: center; }

.hero-avatar {
  width: 125px;
  height: 125px;
  background: #ddd;
  border-radius: 50%;
  overflow: hidden;
}

.hero-name { font-size: 1.5rem; font-weight: bold; text-align: center; }

.hero-desc {
  font-size: 1.15rem;
  font-weight: 500;
  color: #555;
  text-align: center;
}

#cursor { animation: blink 0.7s infinite; font-weight: bold; color: #0083b0; }

.contact-btn {
  background: linear-gradient(135deg, #00d2ff, #0083b0);
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}

.contact-btn:hover { transform: translateY(-2px); box-shadow: 0 0 15px 10px rgba(0, 131, 176, 0.3); }

.info-row {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-label { font-size: 1.1rem; font-weight: 500; color: #222; }
.info-value { font-size: 1.1rem; font-weight: 500; color: #444; }

.link-grid { display: flex; flex-direction: column; gap: 10px; }

.link-btn {
  background: white;
  color: black;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.15rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}

.copyright-text {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ddd;
  text-align: center;
  animation: showItem 1s ease;
}

/* 4. Animasi */
@keyframes showItem { from { opacity: 0; transform: translateY(100px); } to { opacity: 1; transform: translateY(0); } }
@keyframes blink { 0%, 100% { opacity: 0; } 50% { opacity: 1; } }

/* 5. Responsif Layar */
@media (min-width: 600px) {
  .wrapped { max-width: 600px; margin: 0 auto; }
  .link-grid { display: grid; grid-template-columns: repeat(2, 1fr); }
}